@{
    ViewData["Title"] = "Sliders";
}
@model IEnumerable<Slider>

<div class="content-wrapper">
    <div class="row">
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="font-size:20px">Sliders</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="display:flex; ">
                                <th style="flex:1 1 25%">Image</th>
                                <th style="flex:1 1 25%">Title</th>
                                <th style="flex:1 1 25%">Offer</th>
                                <th style="flex:1 1 25%;text-align:center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var SliderItem in Model)
                            {
                                <tr style="display:flex">
                                    <td style="flex:1 1 25%; display:flex; align-items:center;"><img src="~/assets/images/website-images/@SliderItem.Image" /></td>
                                    <td style="flex:1 1 25%; display:flex; align-items:center;">@SliderItem.Title</td>
                                    <td style="flex:1 1 25%; display:flex; align-items:center;">@SliderItem.Offer%</td>
                                    <td style="flex:1 1 25%; display:flex; align-items:center; justify-content:space-between">
                                        <a class="btn btn-success" asp-action="Detail" asp-route-id="@SliderItem.ID">Details</a>
                                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@SliderItem.ID">Update</a>
                                        @if (ViewBag.Count == 1)
                                        {
                                            <a class="btn btn-danger disabled" asp-action="Delete" asp-route-id="@SliderItem.ID">Delete</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@SliderItem.ID">Delete</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a class="btn btn-primary" style="margin-top:10px" asp-action="Create">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>

